digsby/src/msn/SOAP/MSNStorageService/msnstorage_ws.wsdl

<?xml version="1.0" encoding="utf-8"?>
<!-- edited with XMLSpy v2008 sp1 (http://www.altova.com) by wp (freezingsoft) -->
<definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:ns="http://www.w3.org/2001/XMLSchema" xmlns:msnss="http://www.msn.com/webservices/storage/2008" xmlns:ns1="http://schemas.xmlsoap.org/soap/encoding/" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://www.msn.com/webservices/storage/2008">
    <types>
        <ns:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:msnss="http://www.msn.com/webservices/storage/2008">
            <ns:include schemaLocation="msnstorage_servicetypes.xsd"/>
        </ns:schema>
    </types>
    <message name="SSHeader">
        <part name="StorageApplicationHeader" element="msnss:StorageApplicationHeader"/>
        <part name="StorageUserHeader" element="msnss:StorageUserHeader"/>
        <part name="AffinityCacheHeader" element="msnss:AffinityCacheHeader"/>
    </message>
    <message name="GetProfileMessage">
        <part name="GetProfileRequest" element="msnss:GetProfile"/>
    </message>
    <message name="GetProfileResponseMessage">
        <part name="GetProfileResponse" element="msnss:GetProfileResponse"/>
    </message>
    <message name="UpdateProfileMessage">
        <part name="UpdateProfileRequest" element="msnss:UpdateProfile"/>
    </message>
    <message name="UpdateProfileResponseMessage">
        <part name="UpdateProfileResponse" element="msnss:UpdateProfileResponse"/>
    </message>
    <message name="FindDocumentsMessage">
        <part name="FindDocumentsRequest" element="msnss:FindDocuments"/>
    </message>
    <message name="FindDocumentsResponseMessage">
        <part name="FindDocumentsResponse" element="msnss:FindDocumentsResponse"/>
    </message>
    <message name="CreateProfileMessage">
        <part name="CreateProfile" element="msnss:CreateProfile"/>
    </message>
    <message name="CreateProfileResponseMessage">
        <part name="CreateProfileResponse" element="msnss:CreateProfileResponse"/>
    </message>
    <message name="ShareItemMessage">
        <part name="ShareItem" element="msnss:ShareItem"/>
    </message>
    <message name="ShareItemResponseMessage">
        <part name="ShareItemResponse" element="msnss:ShareItemResponse"/>
    </message>
    <message name="CreateDocumentMessage">
        <part name="CreateDocument" element="msnss:CreateDocument"/>
    </message>
    <message name="CreateDocumentResponseMessage">
        <part name="CreateDocumentResponse" element="msnss:CreateDocumentResponse"/>
    </message>
       <message name="UpdateDocumentMessage">
        <part name="UpdateDocument" element="msnss:UpdateDocument"/>
    </message>
        <message name="UpdateDocumentResponseMessage">
        <part name="UpdateDocumentResponse" element="msnss:UpdateDocumentResponse"/>
    </message>
    <message name="CreateRelationshipsMessage">
        <part name="CreateRelationships" element="msnss:CreateRelationships"/>
    </message>
    <message name="CreateRelationshipsResponseMessage">
        <part name="CreateRelationshipsResponse" element="msnss:CreateRelationshipsResponse"/>
    </message>
    <message name="DeleteRelationshipsMessage">
        <part name="DeleteRelationships" element="msnss:DeleteRelationships"/>
    </message>
    <message name="DeleteRelationshipsResponseMessage">
        <part name="DeleteRelationshipsResponse" element="msnss:DeleteRelationshipsResponse"/>
    </message>
    <portType name="StorageServicePortType">
        <operation name="GetProfile">
            <input message="msnss:GetProfileMessage"/>
            <output message="msnss:GetProfileResponseMessage"/>
        </operation>
        <operation name="UpdateProfile">
            <input message="msnss:UpdateProfileMessage"/>
            <output message="msnss:UpdateProfileResponseMessage"/>
        </operation>
        <operation name="FindDocuments">
            <input message="msnss:FindDocumentsMessage"/>
            <output message="msnss:FindDocumentsResponseMessage"/>
        </operation>
        <operation name="CreateProfile">
            <input message="msnss:CreateProfileMessage"/>
            <output message="msnss:CreateProfileResponseMessage"/>
        </operation>
        <operation name="ShareItem">
            <input message="msnss:ShareItemMessage"/>
            <output message="msnss:ShareItemResponseMessage"/>
        </operation>
        <operation name="CreateDocument">
            <input message="msnss:CreateDocumentMessage"/>
            <output message="msnss:CreateDocumentResponseMessage"/>
        </operation>
        <operation name="UpdateDocument">
            <input message="msnss:UpdateDocumentMessage"/>
            <output message="msnss:UpdateDocumentResponseMessage"/>
        </operation>
        <operation name="CreateRelationships">
            <input message="msnss:CreateRelationshipsMessage"/>
            <output message="msnss:CreateRelationshipsResponseMessage"/>
        </operation>
        <operation name="DeleteRelationships">
            <input message="msnss:DeleteRelationshipsMessage"/>
            <output message="msnss:DeleteRelationshipsResponseMessage"/>
        </operation>
    </portType>
    <binding name="StorageServiceBinding" type="msnss:StorageServicePortType">
        <soap:binding transport="http://schemas.xmlsoap.org/soap/http"/>
        <operation name="GetProfile">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/GetProfile"/>
            <input>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="UpdateProfile">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/UpdateProfile"/>
            <input>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="FindDocuments">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/FindDocuments"/>
            <input>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
                <soap:body use="literal"/>
            </input>
            <output>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
                <soap:body use="literal"/>
            </output>
        </operation>
        <operation name="CreateProfile">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/CreateProfile"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </output>
        </operation>
        <operation name="ShareItem">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/ShareItem"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </output>
        </operation>
        <operation name="CreateDocument">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/CreateDocument"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </output>
        </operation>
        <operation name="UpdateDocument">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/UpdateDocument"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </output>
        </operation>
        <operation name="CreateRelationships">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/CreateRelationships"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </output>
        </operation>
        <operation name="DeleteRelationships">
            <soap:operation soapAction="http://www.msn.com/webservices/storage/2008/DeleteRelationships"/>
            <input>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageApplicationHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </input>
            <output>
                <soap:body use="literal"/>
                <soap:header message="msnss:SSHeader" part="AffinityCacheHeader" use="literal"/>
                <soap:header message="msnss:SSHeader" part="StorageUserHeader" use="literal"/>
            </output>
        </operation>
    </binding>
    <service name="StorageService">
        <port name="GetProfilePort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="UpdateProfilePort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="FindDocumentsPort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="CreateProfilePort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="ShareItemPort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="CreateDocumentPort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="UpdateDocumentPort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="CreateRelationshipsPort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
        <port name="DeleteRelationshipsPort" binding="msnss:StorageServiceBinding">
            <soap:address location="https://storage.msn.com/storageservice/SchematizedStore.asmx"/>
        </port>
    </service>
</definitions>
